
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('decidim.admin.riksdagen.representative.title')%>
    </h2>
  </div>
  <div class="card-section">
    <%= link_to t("decidim.admin.riksdagen.representative.import_all"), import_all_path, { class: "button small", method: :post } %>
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t('decidim.admin.riksdagen.representative.name') %></th>
            <th><%= t('decidim.admin.riksdagen.representative.status') %></th>
          </tr>
        </thead>
        <tbody>
          <% for representative in @representatives %>
          <tr>
            <td><%= representative['tilltalsnamn'] + ' ' + representative['efternamn'] %></td>
            <td class="table-list__actions">
              <% if representative['already_imported'] %>
                <%= icon_link_to "reload", import_representative_path(iid: representative['intressent_id']), t('decidim.admin.riksdagen.representative.reload'), { class: "icon-cloud-download", method: :post } %>
              <% else %>
                <%= icon_link_to "plus", import_representative_path(iid: representative['intressent_id']), t('decidim.admin.riksdagen.representative.import'), { class: "icon-cloud-download", method: :post } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>